<a href="https://colab.research.google.com/github/PhilippStahlbergGit/DAT251_project_library_app/blob/testing/DAT251_recommendations_system_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrival

Retrival of data
From: https://www.kaggle.com/datasets/bahramjannesarr/goodreads-book-datasets-10m
Docs: https://goodreads.readthedocs.io/en/latest/

In [ ]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "book1-100k.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "bahramjannesarr/goodreads-book-datasets-10m",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

df.head()

/tmp/ipython-input-2362926182.py:10: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Using Colab cache for faster access to the 'goodreads-book-datasets-10m' dataset.

,Id,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3
0,1,Harry Potter and the Half-Blood Prince (Harry ...,1:9896,652,4:556485,total:2298124,16,9,Scholastic Inc.,28062,2006,eng,J.K. Rowling,4.57,2:25317,5:1546466,NaN,3:159960
1,2,Harry Potter and the Order of the Phoenix (Har...,1:12455,870,4:604283,total:2358637,1,9,Scholastic Inc.,29770,2004,eng,J.K. Rowling,4.50,2:37005,5:1493113,0439358078,3:211781
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,1:108202,309,4:1513191,total:6587388,1,11,Scholastic Inc,75911,2003,eng,J.K. Rowling,4.47,2:130310,5:4268227,NaN,3:567458
3,4,Harry Potter and the Chamber of Secrets (Harry...,1:11896,352,4:706082,total:2560657,1,11,Scholastic,244,2003,eng,J.K. Rowling,4.42,2:49353,5:1504505,0439554896,3:288821
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,1:10128,435,4:630534,total:2610317,1,5,Scholastic Inc.,37093,2004,eng,J.K. Rowling,4.57,2:24849,5:1749958,043965548X,3:194848

In [ ]:
df.iloc[0]

Id                                                                 1
Name               Harry Potter and the Half-Blood Prince (Harry ...
RatingDist1                                                   1:9896
pagesNumber                                                      652
RatingDist4                                                 4:556485
RatingDistTotal                                        total:2298124
PublishMonth                                                      16
PublishDay                                                         9
Publisher                                            Scholastic Inc.
CountsOfReview                                                 28062
PublishYear                                                     2006
Language                                                         eng
Authors                                                 J.K. Rowling
Rating                                                          4.57
RatingDist2                                                  2:25317
RatingDist5                                                5:1546466
ISBN                                                             NaN
RatingDist3                                                 3:159960
Name: 0, dtype: object

# Preprocessing of data

In [ ]:
df.columns

Index(['Id', 'Name', 'RatingDist1', 'pagesNumber', 'RatingDist4',
       'RatingDistTotal', 'PublishMonth', 'PublishDay', 'Publisher',
       'CountsOfReview', 'PublishYear', 'Language', 'Authors', 'Rating',
       'RatingDist2', 'RatingDist5', 'ISBN', 'RatingDist3'],
      dtype='object')

In [ ]:
df = df.drop(columns=['PublishMonth','PublishDay', 'Publisher', 'CountsOfReview','Language',  'ISBN', 'RatingDist1', 'RatingDist2', 'RatingDist3', 'RatingDist4', 'RatingDist5'])
df.columns

Index(['Id', 'Name', 'pagesNumber', 'RatingDistTotal', 'PublishYear',
       'Authors', 'Rating'],
      dtype='object')

In [ ]:
lookup_table = df.drop(columns=['Id', 'Name'])
lookup_table

,pagesNumber,RatingDistTotal,PublishYear,Authors,Rating
0,652,total:2298124,2006,J.K. Rowling,4.57
1,870,total:2358637,2004,J.K. Rowling,4.50
2,309,total:6587388,2003,J.K. Rowling,4.47
3,352,total:2560657,2003,J.K. Rowling,4.42
4,435,total:2610317,2004,J.K. Rowling,4.57
...,...,...,...,...,...
58287,265,total:164,2000,David Quammen,3.99
58288,336,total:87,2002,Natalie Angier,4.11
58289,263,total:10,1992,Archibald Hamilton Rutledge,4.30
58290,288,total:102,2004,Dava Sobel,3.86
58291,336,total:11,2004,Daniel O'Connor,3.09

In [ ]:
book_name_lookup = df[['Id', 'Name']]
display(book_name_lookup.head())

   Id                                               Name
0   1  Harry Potter and the Half-Blood Prince (Harry ...
1   2  Harry Potter and the Order of the Phoenix (Har...
2   3  Harry Potter and the Sorcerer's Stone (Harry P...
3   4  Harry Potter and the Chamber of Secrets (Harry...
4   5  Harry Potter and the Prisoner of Azkaban (Harr...

In [ ]:
df = df.drop(columns=['Name'])
df.columns

Index(['Id', 'pagesNumber', 'RatingDistTotal', 'PublishYear', 'Authors',
       'Rating'],
      dtype='object')

In [ ]:
df

,Id,pagesNumber,RatingDistTotal,PublishYear,Authors,Rating
0,1,652,total:2298124,2006,J.K. Rowling,4.57
1,2,870,total:2358637,2004,J.K. Rowling,4.50
2,3,309,total:6587388,2003,J.K. Rowling,4.47
3,4,352,total:2560657,2003,J.K. Rowling,4.42
4,5,435,total:2610317,2004,J.K. Rowling,4.57
...,...,...,...,...,...,...
58287,99992,265,total:164,2000,David Quammen,3.99
58288,99993,336,total:87,2002,Natalie Angier,4.11
58289,99996,263,total:10,1992,Archibald Hamilton Rutledge,4.30
58290,99997,288,total:102,2004,Dava Sobel,3.86
58291,99999,336,total:11,2004,Daniel O'Connor,3.09

In [ ]:
import pandas as pd
df['AuthorId'], unique_authors = pd.factorize(df['Authors'])
author_lookup = pd.DataFrame({
    'AuthorId': df['AuthorId'].unique(),
    'AuthorName': unique_authors
})

author_lookup

       AuthorId                   AuthorName
0             0                 J.K. Rowling
1             1       W. Frederick Zimmerman
2             2                Douglas Adams
3             3                  Bill Bryson
4             4               J.R.R. Tolkien
...         ...                          ...
28628     28628                 Dick Feagler
28629     28629                  Daryl Cagle
28630     28630              Jonathan Weiner
28631     28631  Archibald Hamilton Rutledge
28632     28632              Daniel O'Connor

[28633 rows x 2 columns]

In [ ]:
df = df.drop(columns=['Authors'])
df

          Id  pagesNumber RatingDistTotal  PublishYear  Rating  AuthorId
0          1          652   total:2298124         2006    4.57         0
1          2          870   total:2358637         2004    4.50         0
2          3          309   total:6587388         2003    4.47         0
3          4          352   total:2560657         2003    4.42         0
4          5          435   total:2610317         2004    4.57         0
...      ...          ...             ...          ...     ...       ...
58287  99992          265       total:164         2000    3.99     21727
58288  99993          336        total:87         2002    4.11     17385
58289  99996          263        total:10         1992    4.30     28631
58290  99997          288       total:102         2004    3.86      1762
58291  99999          336        total:11         2004    3.09     28632

[58292 rows x 6 columns]

In [ ]:


# Set the path to the file you'd like to load
file_path = "user_rating_0_to_1000.csv"

# Load the latest version
dfs = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "bahramjannesarr/goodreads-book-datasets-10m",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

dfs.head()

/tmp/ipython-input-366097476.py:5: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  dfs = kagglehub.load_dataset(

Using Colab cache for faster access to the 'goodreads-book-datasets-10m' dataset.

   ID                                               Name           Rating
0   1  Agile Web Development with Rails: A Pragmatic ...   it was amazing
1   1  The Restaurant at the End of the Universe (Hit...   it was amazing
2   1                                         Siddhartha   it was amazing
3   1  The Clock of the Long Now: Time and Responsibi...  really liked it
4   1            Ready Player One (Ready Player One, #1)  really liked it

In [ ]:
dfs

        ID                                               Name           Rating
0        1  Agile Web Development with Rails: A Pragmatic ...   it was amazing
1        1  The Restaurant at the End of the Universe (Hit...   it was amazing
2        1                                         Siddhartha   it was amazing
3        1  The Clock of the Long Now: Time and Responsibi...  really liked it
4        1            Ready Player One (Ready Player One, #1)  really liked it
...    ...                                                ...              ...
51940  999                   The Encantadas and Other Stories        it was ok
51941  999                           The Elephant in the Room   it was amazing
51942  999                    Ender's Game (Ender's Saga, #1)   it was amazing
51943  999                                           The Gift   it was amazing
51944  999  The Unwinding: An Inner History of the New Ame...   it was amazing

[51945 rows x 3 columns]