<a href="https://colab.research.google.com/github/PhilippStahlbergGit/DAT251_project_library_app/blob/testing/DAT251_recommendations_system_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Retrival of data

In [ ]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "book1-100k.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "bahramjannesarr/goodreads-book-datasets-10m",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/tmp/ipython-input-2941119330.py:10: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/bahramjannesarr/goodreads-book-datasets-10m?dataset_version_number=18&file_name=book1-100k.csv...

100%|██████████| 3.50M/3.50M [00:00<00:00, 119MB/s]

Extracting zip of book1-100k.csv...

First 5 records:    Id                                               Name RatingDist1  \
0   1  Harry Potter and the Half-Blood Prince (Harry ...      1:9896
1   2  Harry Potter and the Order of the Phoenix (Har...     1:12455
2   3  Harry Potter and the Sorcerer's Stone (Harry P...    1:108202
3   4  Harry Potter and the Chamber of Secrets (Harry...     1:11896
4   5  Harry Potter and the Prisoner of Azkaban (Harr...     1:10128

   pagesNumber RatingDist4 RatingDistTotal  PublishMonth  PublishDay  \
0          652    4:556485   total:2298124            16           9
1          870    4:604283   total:2358637             1           9
2          309   4:1513191   total:6587388             1          11
3          352    4:706082   total:2560657             1          11
4          435    4:630534   total:2610317             1           5

         Publisher  CountsOfReview  PublishYear Language       Authors  \
0  Scholastic Inc.           28062         2006      eng  J.K. Rowling
1  Scholastic Inc.           29770         2004      eng  J.K. Rowling
2   Scholastic Inc           75911         2003      eng  J.K. Rowling
3       Scholastic             244         2003      eng  J.K. Rowling
4  Scholastic Inc.           37093         2004      eng  J.K. Rowling

   Rating RatingDist2 RatingDist5        ISBN RatingDist3
0    4.57     2:25317   5:1546466         NaN    3:159960
1    4.50     2:37005   5:1493113  0439358078    3:211781
2    4.47    2:130310   5:4268227         NaN    3:567458
3    4.42     2:49353   5:1504505  0439554896    3:288821
4    4.57     2:24849   5:1749958  043965548X    3:194848

In [ ]:
df[:].count()

Id                 58292
Name               58292
RatingDist1        58292
pagesNumber        58292
RatingDist4        58292
RatingDistTotal    58292
PublishMonth       58292
PublishDay         58292
Publisher          57798
CountsOfReview     58292
PublishYear        58292
Language           20294
Authors            58292
Rating             58292
RatingDist2        58292
RatingDist5        58292
ISBN               57746
RatingDist3        58292
dtype: int64

pandas.core.series.Series